In [3]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame({'Product Type': ['a','b','c',np.nan,'d',''],'Sales':[10,np.nan,30,50,np.nan,60]})

In [17]:
df

  Product Type  Sales
0            a   10.0
1            b    NaN
2            c   30.0
3          NaN   50.0
4            d    NaN
5                60.0

In [23]:
df.describe(include='all')

       Product Type      Sales
count             5   4.000000
unique            5        NaN
top               a        NaN
freq              1        NaN
mean            NaN  37.500000
std             NaN  22.173558
min             NaN  10.000000
25%             NaN  25.000000
50%             NaN  40.000000
75%             NaN  52.500000
max             NaN  60.000000

In [45]:
df.isnull().sum() #Column wise total number of standard missing values

Product Type    1
Sales           2
dtype: int64

In [59]:
df.isnull().sum()/len(df) *100 #Percentage of missing values in each column

Product Type    16.666667
Sales           33.333333
dtype: float64

In [69]:
df.shape[1]

2

# Why do we fill missing values - Machine learning model does not accept missing values

In [76]:
df1 = pd.read_csv('C:/Users/pavit/OneDrive/GITHUB/PES_SEM1_Python/Machine_learning_1/bigmartsales-cleaned.csv')

In [78]:
df1

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Profit
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8,OUT049,1999,Medium,Tier 2,Supermarket Type1,3735.1380,11.5
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.3,OUT018,2009,Medium,Tier 2,Supermarket Type2,443.4228,14.3
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6,OUT049,1999,Medium,Tier 2,Supermarket Type1,2097.2700,14.5
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.1,OUT010,1998,NaN,NaN,Grocery Store,732.3800,13.6
4,NCD19,8.930,Low Fat,0.000000,Household,53.9,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,14.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,14.1
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.2,OUT045,2002,NaN,NaN,Supermarket Type1,549.2850,14.2
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1,OUT035,2004,Small,Tier1,Supermarket Type1,1193.1136,9.5
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1,OUT018,2009,Medium,Tier 2,Supermarket Type2,1845.5976,14.2
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.5,OUT046,1997,Small,Tier1,Supermarket Type1,765.6700,14.6

In [82]:
df1.count()

Item_Identifier              8523
Item_Weight                  7774
Item_Fat_Content             8523
Item_Visibility              8523
Item_Type                    8523
Item_MRP                     8523
Outlet_Identifier            8523
Outlet_Establishment_Year    8523
Outlet_Size                  6113
Outlet_Location_Type         6473
Outlet_Type                  8523
Item_Outlet_Sales            8523
Profit                       8523
dtype: int64

In [84]:
df1.isnull().sum()/len(df1) *100 #Percentage of NULL column wise

Item_Identifier               0.000000
Item_Weight                   8.787985
Item_Fat_Content              0.000000
Item_Visibility               0.000000
Item_Type                     0.000000
Item_MRP                      0.000000
Outlet_Identifier             0.000000
Outlet_Establishment_Year     0.000000
Outlet_Size                  28.276428
Outlet_Location_Type         24.052564
Outlet_Type                   0.000000
Item_Outlet_Sales             0.000000
Profit                        0.000000
dtype: float64

In [88]:
df1['Item_Weight'].mean()

11.676739773604321

In [92]:
df1['Item_Identifier'].nunique() #Number of Unique Values

1559

In [94]:
df1['Item_Identifier'].head(10)

0    FDA15
1    DRC01
2    FDN15
3    FDX07
4    NCD19
5    FDP36
6    FDO10
7    FDP10
8    FDH17
9    FDU28
Name: Item_Identifier, dtype: object

In [104]:
col = 'Outlet_Location_Type'

In [124]:
print(df1[col].nunique()) #Number of Unique values
print(df1[col].unique()) #Unique value output

8
['Tier 2' nan 'Tier 3' '  --' 'Tier1' 'na' '  -' '?' 'NAN']

In [110]:
df1[col].isnull().sum()

2050

In [122]:
df1['Outlet_Location_Type_New'] = df1[col].replace({'  --':np.nan, 'na':np.nan, '  -':np.nan,'NAN': np.nan,'?':np.nan}) 
#Create a new column and replace missing values with np.nan

In [126]:
col2 = 'Outlet_Location_Type_New'
print(df1[col2].nunique()) #Number of Unique values
print(df1[col2].unique()) #Unique values
print(df1[col2].isnull().sum()) #Total number of Standar NULL Value

3
['Tier 2' nan 'Tier 3' 'Tier1']
2410

In [132]:
df1['Outlet_Location_Type_New'] = df1['Outlet_Location_Type_New'].fillna('Unknown') 
#Replace NULL Value is .fillna() function with "UNKNOWN"

In [130]:
print(df1[col2].nunique()) #Number of Unique values
print(df1[col2].unique()) #Unique values
print(df1[col2].isnull().sum()) #Total number of Standar NULL Value

4
['Tier 2' 'Unknown' 'Tier 3' 'Tier1']
0

In [100]:
df1['Item_Type'].unique() #Return Unique Values

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [134]:
df1['Item_Weight'].isnull().sum()

749

In [154]:
df1['Item_Weight_1'] = df1['Item_Weight'].fillna(0) #If '0' is a valid number we can use it
item_weight_median = df1['Item_Weight'].median()
print(item_weight_median)
df1['Item_Weight_2'] = df1['Item_Weight'].fillna(item_weight_median) #If Outliers there, use median
print(df1['Item_Weight_1'].isnull().sum())
print(df1['Item_Weight_2'].isnull().sum())
df1['Item_Weight_1'].nunique()

11.8
0
0

416

In [148]:
df1['Outlet_Size'].isnull().sum()
df1['Outlet_Size'].nunique()
df1['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [156]:
df1['Outlet_Size_New'] = df1['Outlet_Size'].fillna('unknown')
print(df1['Outlet_Size_New'].isnull().sum())
df1['Outlet_Size_New'].nunique()
df1['Outlet_Size_New'].unique()

0

array(['Medium', 'unknown', 'High', 'Small'], dtype=object)

## Encoding Categorical Values

### * Label Encoding
### * One Hot Encoding